<div class="logo">
  <a data-ui-sref="tripIndex"><%# image_tag("auto_pilot_logo.png", :alt => "Auto Pilot", :class => "logo_img") %></a>
</div>
<div class="hero">
  <div class="header">
    <h1>Auto Pilot</h1>
  </div>
</div>
<div class="container">
  <main data-ui-view>
  </main>
</div>
